@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Yeseva+One&display=swap");

html {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h3 {
  font-family: "Yeseva One";
  color: #e3b873;
  font-weight: 400;
}

h1 {
  font-size: 27px;
  margin-top: 0;
}

h3 {
  font-size: 18px;
}

body {
  font-family: "Nunito Sans";
  font-size: 14px;
  background-color: black;
  color: white;
  max-width: 90vw;
  max-height: 80vh;
  margin: 15vh auto 0;
}

.main {
  display: grid;
  grid-template-columns: 25vw auto;
  grid-template-rows: 4vh auto auto;
  row-gap: 3vw;
  column-gap: 7vh;
}

.main__text {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5vh;
}

.main__text_specifications {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: inherit;
}

.text__specifications {
  display: flex;
  flex-direction: column;
}

.text__specifications p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.main__images {
  grid-column: 2;
  grid-row: 1 / 4;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main__images_links {
  grid-column: 2;
  grid-row: 1;
  display: inline-flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 4vw;
}

.main__images_link.active {
  color: #e3b873;
  border-bottom: 3px #e3b873 solid;
}

.main__images_link {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  padding-bottom: 6px;
}

.main__images_slider {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 65vw;
  max-height: 63vh;
}

.slider__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__image .image {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  /* left: 0;
  top: 0; */
  opacity: 0;
  transition: opacity 800ms ease;
}

.slider__image .image.active {
  opacity: 1;
}

.main__navigation {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  width: 100%;
  color: #fff;
  gap: 10px;
  justify-content: center;
}

.navigation__arrow {
  font-size: 42px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.navigation__points {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 21px;
}

.navigation__points_item {
  position: relative;
  display: flex;
  width: 16px;
  height: 16px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.navigation__points_item.active {
  background-color: white;
}

.city-item,
.area-item,
.time-item {
  display: none;
}

.city-item.active,
.area-item.active,
.time-item.active {
  display: block;
}

@media (orientation: portrait) {
  body {
    margin: 4vh auto;
  }

  .main {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto auto auto;
    row-gap: 1vw;
  }

  h1 {
    margin: 9px auto;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .main__images {
    grid-row: 1;
    grid-column: 1;
    gap: 10px;
  }

  .main__navigation {
    grid-row: 3;
    grid-column: 1;
  }

  .main__text {
    grid-row: 4;
    grid-column: 1;
    gap: 7px;
    & p {
      margin: 0;
    }
  }
}

@media (max-width: 479px) {
  .navigation__points {
    margin-top: 15px;
  }

  .navigation__points_item {
    width: 12px;
    height: 12px;
  }

  .navigation__arrow {
    font-size: 30px;
  }
}

/* @media (min-width: 770px) and (max-width: 900px) {
  .main__images_link {
    font-size: 24px;
  }

  .main__text {
    & p {font-size: 24px;}
  }
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  .navigation__points {
    margin-top: 15px;
  }

  .navigation__points_item {
    width: 24px;
    height: 24px;
  }

  .navigation__arrow {
    font-size: 50px;
  }
} */

/* @media (min-width: 770px) {
  .main__images_link {
    font-size: 16px;
  }

  .main__text {
    & p {font-size: 17px;}

  }
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
} */
